* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color)
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #2f2037;
  width: 100%;
  height: 56px;
  color:#f5f0f8;
  font-size: 28px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.language{
  cursor: pointer;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px;
  justify-content: center;
  }

.card {
  position: relative;
  width: 150px;
  min-height: 150px;
  margin: 10px;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
  display: flex; 
  flex-direction: column;
  background-color: #f5f0f8; /* Нежный фиолетовый */
  border-radius: 4px; /* Скругленные углы */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Приятная тень */
  color: #3d0f5e;
  word-break:keep-all;
}

.card:active { 
  box-shadow: 10px 6px 10px rgba(188, 88, 242, 0.2); /*  Усиливаем  тень при клике */
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
  font-size: 12px;
  padding: 20px;
}

.flipped {
  transform: rotateY(180deg);
}

.card img {
  height: 200px;
  object-fit: cover;
  width: 100%; 
  height: auto; 
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2f2037;
}

.card-text {
  font-size: 0.9rem;
  color: #666;
}

.icon-card{
  opacity: 0.2;
}

.icon-front{
  margin-top: 20px;
  font-size: 40px;
}

.icon-back{
  margin-top: 20px;
  font-size: 80px;
  margin-left: calc(50% - 30px);
}

.button {
  background-color: #c8a2c8;
  color: white; 
  border: none; 
  border-radius: 4px; 
  font-size: 16px;
  cursor: pointer;
  padding: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.1s ease; 
  display: block;     
  margin: 0px auto 0px auto;   
  position: absolute;
  bottom: 10px;
  width: 70%;
}

.button:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); 
  background-color: #b883b8;
}